
<% if flash.now[:errors].present? %>
  <ul>
    <% flash.now[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @recipe, html:{multipart: true} do |f| %>

  <%= f.label :category_id, 'Select Nutrition Category' %>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt:'Please select a nutrition category' %>
  <br><br>
  <%= f.label :name, 'Smoothie name' %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :image, 'Upload an image' %>
  <!-- use cloudinary to upload local images-->
  <%= f.cl_image_upload :image %>
  <br><br>
  <%= f.label :ingredients %>
  <%= f.text_field :ingredients %>
  <br>
  <br>
  <%= f.submit %>

<% end %>
