<div class="spotlight-container">
  <%= image_tag "mix-heading.jpg", alt:'mix-color', class: "spotlight-image" %>
  <div class="spotlight-text">
    <h1> Nutrition & Smoothies </h1>
    <h2>Make Your Diet Nutritious & Simple</h2>
    <p>100+ shared recipes, cover all nutritions, taylored for your health</p>
  </div>
</div>

<h2>Log into your account</h2>

<% if flash[:error] %>
  <%= flash[:error] %>
  <br><br>
<% end %>

<%= form_tag login_path do %>

  <%= label_tag :email %>
  <%= email_field_tag :email %>

  <br>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <br>

  <%= submit_tag 'Login' %>

<% end %>
