<div class="spotlight-container">
  <%= image_tag "mix-heading.jpg", alt:'mix-color', class: "spotlight-image" %>
  <div class="spotlight-text">
    <h1> Nutrition & Smoothies </h1>
    <h2>Make Your Diet Nutritious & Simple</h2>
    <p>100+ shared recipes, cover all nutritions, taylored for your health</p>
  </div>
</div>

<div class="first-layer-content">
  <div class="second-layer-content">
    <h2>Sign up now</h2>

    <br>
    <% if flash[:errors].present? %>
      <ul>
        <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <br>

    <%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>
