<div class="navbar" >

  <div class="nav-left">
    <%= link_to 'Home', categories_path %>
    <% if @current_user.present? %>
      <%= link_to 'Log out', login_path, method:'delete' %>
    <% else %>
      <%= link_to 'Sign up', new_user_path %>
      <%= link_to 'Log in', login_path %>
    <% end %>
  </div><div class="nav-right">
    <% if @current_user.present? %>
      Welcome <%= @current_user.name %>!
      <%= link_to "Share your recipe", new_recipe_path%>
    <% end %>
    <div id='search_form'>
      <%= form_tag recipes_search_path, method:'get' do %>
        <%= text_field_tag :query, nil, placeholder:'search ingredients...'%>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
</div>
