<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <!-- 1, nav bar -->
    <%= render partial: 'layouts/navigation' %>
    <!-- 2, flash message -->
    <%= render partial: 'layouts/flash' %>

    <hr>
    <%= yield %>
    <hr>

    <!-- 3, footer -->
    &copy; Viola's Nutrition & Smoothies Production 2019
  </body>
</html>
