<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1> Nutrition & Smoothies </h1>

    <hr>
    <%= yield %>
    <hr>
    &copy; Viola's Nutrition & Smoothies Production 2019
  </body>
</html>
