<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <!-- 1, nav bar -->
    <%= render partial: 'layouts/navigation' %>

    <!-- 2, main body -->
    <div id="main">
      <%= yield %>
    </div><!-- #main -->

    <!-- 3, footer -->
    <footer class="footer">
      <p>
      &copy; Viola's Nutrition & Smoothies Production 2019
      </p>
    </footer>
  </body>
</html>
